.indexItemBlock {
  padding: 20px 25px 25px 20px;
  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.03), 0px 0px 1px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  
}

.indexItemBlock h3 {
  margin: 0;
  letter-spacing: -0.02em;
  color: #000000;
  font: 600 18px/112% "Inter", sans-serif;
}

.usdPriceInCents {
  margin-top: 10px;
  letter-spacing: -0.02em;
  color: #000000;
  font: 500 18px/112% "Inter", sans-serif;
}

.ethPriceInWeiAndPercentageChange {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.percentageChange {
  letter-spacing: -0.02em;
  color: #03cea4;
  font: 500 15px/112% "Inter", sans-serif;
}

.ethPriceInWei {
  color: #000000;
  font: 400 15px/130% "Inter", sans-serif;
}
